<link rel="stylesheet" type="text/css" href="/web/css/draw.css">
<div class="col-lg-12" ng-controller="DrawController as ctrl">
    <h1 class="page-header">
        Draw Grid
        <button class="btn btn-primary" onClick="window.print()">
            <i class="fa fa-print"></i>
            Print
        </button>
    </h1>

    <div class="app-container">
        <div class="col-md-12">
            <div class="page" ng-class="{'page-portrait': ctrl.orientation==='portrait', 'page-landscape': ctrl.orientation==='landscape'}">
                <div class="subpage" ng-class="{'subpage-portrait': ctrl.orientation==='portrait', 'subpage-landscape': ctrl.orientation==='landscape'}">
                    <div class="dutings-cell"
                         ng-class="{'selected': ctrl.selectedCell === cell}"
                         ng-click="ctrl.selectedCell = cell"
                         dutings-cell="cell"
                         on-change="ctrl.cellChanged(cell)"
                         ng-repeat="cell in ctrl.cells">

                        <div ng-if="cell.type === 'text'" class="dutings-cell-input">{{cell.input.value}}</div>

                        <div ng-if="cell.type === 'number'" class="dutings-cell-input"> {{cell.input.value}} </div>

                        <div class="dutings-cell-input" ng-if="cell.type === 'checkbox'">
                            <input type="checkbox" ng-model="cell.input.value" ng-change="cell.input.value = !cell.input.value">
                        </div>

                        <div class="dutings-cell-input" ng-if="cell.type === 'label'">{{cell.input.value}}</div>

                    </div>
                </div>
            </div>
        </div>

    </div>
    <div style="position: fixed; right: 0;bottom: 0;">
        <div class="options-menu">
            <div class="panel panel-default">
                <ul class="nav nav-tabs nav-justified">
                    <li role="presentation"
                        ng-class="{'active': ctrl.menuTab === 'create'}"
                        ng-click="ctrl.menuTab = 'create'">
                        <a href="" ng-click="ctrl.menuTab = 'create'">Create</a>
                    </li>
                    <li role="presentation"
                        ng-class="{'active': ctrl.menuTab === 'edit'}"
                        ng-show="ctrl.selectedCell"
                        ng-click="ctrl.menuTab = 'edit'">
                        <a href="">Edit</a>
                    </li>
                </ul>
                <div class="panel-body">
                    <div class="row">
                        <!-- CREATE OPTIONS -->
                        <div class="col-md-12 create-tab" ng-show="ctrl.menuTab === 'create'">
                            <table style="width: 100%">
                                <thead>
                                <tr>
                                    <th colspan="2">
                                        Page Options
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>Portrait</td>
                                    <td> <input type="radio" ng-model="ctrl.orientation" ng-change="ctrl.orientationChanged()" value="portrait"> </td>
                                </tr>
                                <tr>
                                    <td>Landscape</td>
                                    <td> <input type="radio" ng-model="ctrl.orientation" ng-change="ctrl.orientationChanged()" value="landscape"> </td>
                                </tr>
                                </tbody>

                                <thead>
                                <tr>
                                    <th colspan="2">
                                        New Cells
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="(type,value) in ctrl.inputTypes">
                                    <td>{{type}}</td>
                                    <td><button class="btn btn-primary" ng-click="ctrl.createCell(type)">+</button></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- EDIT OPTIONS -->
                        <div class="col-md-12 edit-tab" ng-show="ctrl.menuTab === 'edit'">
                            <table style="width: 100%">
                                <thead>
                                <tr>
                                    <th colspan="2">
                                        Cell Options
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>Type</td>
                                    <td>{{ ctrl.selectedCell.type }}</td>
                                </tr>
                                <tr>
                                    <td>Value</td>
                                    <td>
                                        <input ng-if="ctrl.selectedCell.type === 'number'" type="number" ng-model="ctrl.selectedCell.input.value">
                                        <input ng-if="ctrl.selectedCell.type === 'label'" type="text" ng-model="ctrl.selectedCell.input.value">
                                        <input ng-if="ctrl.selectedCell.type === 'checkbox'" type="checkbox" ng-model="ctrl.selectedCell.input.value">
                                        <textarea ng-if="ctrl.selectedCell.type === 'text'" ng-model="ctrl.selectedCell.input.value"></textarea>
                                    </td>
                                </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


    <script>
        var menu = $('.options-menu');
        menu.draggable();
    </script>
</div>