<link rel="stylesheet" type="text/css" href="/web/css/draw.css">
<div class="col-lg-12" ng-controller="DrawController as ctrl">
    <h1 class="page-header">
        Draw Grid
        <button class="btn btn-primary" onClick="window.print()">
            <i class="fa fa-print"></i>
            Print
        </button>
    </h1>

    <div class="app-container">
        <div class="col-md-12">
            <div class="page" ng-class="{'page-portrait': ctrl.orientation==='portrait', 'page-landscape': ctrl.orientation==='landscape'}">
                <div class="subpage" ng-class="{'subpage-portrait': ctrl.orientation==='portrait', 'subpage-landscape': ctrl.orientation==='landscape'}">
                    <div class="dutings-cell"
                         ng-class="{'selected': ctrl.selectedCell === cell}"
                         ng-click="ctrl.selectedCell = cell"
                         dutings-cell="cell"
                         on-change="ctrl.cellChanged(cell)"
                         ng-repeat="cell in ctrl.cells">
                        <textarea class="dutings-input-text"></textarea>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div style="position: fixed; right: 0;bottom: 0;">
        <div class="options-menu">
            <div class="panel panel-default">
                <ul class="nav nav-tabs">
                    <li role="presentation" class="active"><a href="#">Home</a></li>
                    <li role="presentation"><a href="#">Profile</a></li>
                    <li role="presentation"><a href="#">Messages</a></li>
                </ul>
                <div class="panel-body">
                    <div class="row">

                        <div class="col-md-12">
                            <table style="width: 100%">
                                <thead>
                                <tr>
                                    <th colspan="2">
                                        Page Options
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Portrait</td>
                                        <td> <input type="radio" ng-model="ctrl.orientation" ng-change="ctrl.orientationChanged()" value="portrait"> </td>
                                    </tr>
                                    <tr>
                                        <td>Landscape</td>
                                        <td> <input type="radio" ng-model="ctrl.orientation" ng-change="ctrl.orientationChanged()" value="landscape"> </td>
                                    </tr>
                                </tbody>
                                <thead ng-show="ctrl.selectedCell">
                                    <tr>
                                        <th colspan="2">
                                            Cell Options
                                        </th>
                                    </tr>
                                </thead>
                                <tbody ng-show="ctrl.selectedCell">
                                    <tr>
                                        <td>Row</td>
                                        <td>{{ctrl.selectedCell.row}}</td>
                                    </tr>
                                    <tr>
                                        <td>Column</td>
                                        <td>{{ctrl.selectedCell.col}}</td>
                                    </tr>
                                    <tr>
                                        <td>Columns</td>
                                        <td>
                                            <input type="number"
                                                   ng-model="ctrl.selectedCell.columns"
                                                   ng-change="ctrl.cellColumnsChanged(ctrl.selectedCell)">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Rows</td>
                                        <td>
                                            <input type="number"
                                                   ng-model="ctrl.selectedCell.rows"
                                                   ng-change="ctrl.cellRowsChanged(ctrl.selectedCell)">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


    <script>
        var menu = $('.options-menu');
        menu.draggable();
    </script>
</div>