html, body, .app-container, .draw-table{
    overflow: auto;
    height: 100%;
    width: 100%;
}

.draw-table, .draw-table th, .draw-table td {
    border: 1px #D3D3D3 dashed;
}

.dutings-cell{
    padding-top: 10px;
    background-color: #5cb85c;
    border-color: #4cae4c;
}
.dutings-cell.selected{
    border: 2px #2e6da4 solid;
}
.dutings-cell:hover{
    border: 2px #2e6da4 solid;
}

.dutings-input-text{
    width: 100%;
    height: 100%;
}

.page{
    padding: 20mm;
    margin: 10mm auto;
    border: 1px #D3D3D3 solid;
    border-radius: 5px;
    background: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.page-portrait {
    width: 215.9mm;
    height: 279.4mm;
}

.page-landscape {
    width: 279.4mm;
    height: 215.9mm;
}

.subpage{
    border: 1px #D3D3D3 dashed;
}

.subpage-portrait {
    height: 239.4mm;
}

.subpage-landscape {
    height: 175.9mm;
}

.options-menu{
    max-height: 600px;
    width: 300px;
    /*position: fixed;*/
    /*bottom: 0;*/
    /*right: 0;*/
    z-index: 999;
}
.draggable{
    cursor: move;
}

@page {
    size: letter;
    margin: 0;
}
@media print {
    html, body {
        width: 215.9mm;
        height: 279.4mm;
    }
    .page{
        margin: 0;
        border: initial;
        border-radius: initial;
        width: initial;
        min-height: initial;
        box-shadow: initial;
        background: initial;
        page-break-after: always;
    }
    .draw-options, .page-header, .options-menu{
        display: none;
    }
}