.register {
    width: 420px;
    display: block;
    top: 80px;
    position: absolute;
    left: 50%;
    margin-left: -210px;
    z-index: 1020;
}

.panel-dutings {
    border-color: #ddd;
}
.panel-dutings > .panel-heading {
    color: #333;
    background-color: #1b647a;
    border-color: #ddd;
}
.panel-dutings > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #ddd;
}
.panel-dutings > .panel-heading .badge {
    color: #f5f5f5;
    background-color: #333;
}
.panel-dutings > .panel-footer + .panel-collapse > .panel-body {
    border-bottom-color: #ddd;
}